- model_class = Post
.page-header
  %h1 Postaroni
  %h3 Check out the latest posts!
%table.table.table-striped
  %tbody
    - @posts = Post.order("updated_at DESC").paginate(:page => params[:page], :per_page => 10)
    - will_paginate @posts
    - @posts.each do |post|
    - @user = User.find(post.user_id)
      %tr
        %td= link_to post.title, post_path(post)
        %td= "submitted #{time_ago_in_words(post.created_at)} ago by #{@user.username}"
        
        %td
          -if user_signed_in?
            -if post.user_id == current_user.id
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
-if user_signed_in?
  =link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'
%p
  .apple_pagination
    = will_paginate @posts
